.navjosla{
  width:100%;
  height: 220px;
  background-color: #131721;
  background-clip: content-box;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
}

.mainLogo{
  margin:25px;
  vertical-align: middle;
  display: table-cell;
}

.mainTitle{
  color: white;
  display: table-cell;
  text-align: left;
  font-size: 30px;
  vertical-align: middle;
}

.navjoslasLogoDiv{
  display:table;
  float: left;
  margin-left:10%;
}

.navjoslasPogasDiv{
  width: 100%;
  height: 50px;
  float: left;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #131721;
  display:table;
}
  
li {
  display: table-cell;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #363f52;
}

@media only screen and (max-width: 600px){
  ul{
    display: grid;
  }
  .navjoslasPogasDiv{
    height: 300px;
  }
}

@media only screen and (max-width: 375px){
  .mainTitle{
    visibility: collapse;
  }
}