.navjosla{
  width:100%;
  height: 205px;
  background-color: #131721;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
  
}

a{
  color: rgb(0,0,0);
}

a, p, h1, h2, h3, li {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.mainLogo{
  margin:25px;
  margin-top:10px;
  vertical-align: middle;
  display: table-cell;
}

.mainTitle{
  color: white;
  display: table-cell;
  text-align: left;
  font-size: 30px;
  vertical-align: middle;
  font-family: 'Times New Roman', Times, serif;
}

.navjoslasLogoDiv{
  display:table;
  float: left;
  margin-left:10%;
}

.navjoslasPogasDiv{
  width: 100%;
  float: left;
  text-align: center;
}
  
.navjoslasPogasTeksts {
  color: white;
  background-color: #131721;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.seja{
  width: 15%;
  margin:5px;
}
  
.navjoslasPogasTeksts:hover {
  background-color: #363f52;
}

.saturs{
  float: left;
  max-width: 1000px;
  padding: 20px;
  padding-top:5px;
  width: 70%;
}

.sanuJosla {
  float: left;
  max-width: 500px;
  padding: 20px;
  padding-top:5px;
}

.kontaktiTitle{
  font-size: 20px;
}


.lapa{
  max-width: 1500px;
  margin: auto;
}

.mailLink{
  color:black;
}

.sejasDiv{
  width: 100%;
}

#regLink{
  display:none;
}

#sponsorBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.sponsorItem{
  width: 100px;
  flex: 3 3 auto;
  margin: 20px;
}

.sponsorLight{
  display: none;
}

.tetSponsor{
  flex: 1 1 auto;
}

@media only screen and (max-width: 1200px){
  .seja{
    width: 31%;
  }
}

@media only screen and (max-width: 900px){
  .saturs{
    width: auto;
    display: block;
  }
  .sanuJosla{
    width: auto;
    display: block;
  }
}

@media only screen and (max-width: 650px){
  iframe{
    display: none;
  }
  #regLink{
    display: inline;
  }
}

@media only screen and (max-width: 600px){
  ul{
    display: grid;
  }
  .navjoslasPogasDiv{
    height: 50px;
  }
  .mainLogo{
    margin-left: 0px;
  }
  .seja{
    width: 45%;
  }
}

@media only screen and (max-width: 450px){
  .navjoslasPogasTeksts {
    display: block;
  }

  .navjosla {
    height:350px;
  }
}

@media only screen and (max-width: 300px){
  .seja{
    width: 97%;
  }
  .mainTitle{
    font-size: 9vw;
  }
  .mainLogo{
    margin-left: 0px;
    margin-right: 5px;
    width: 35vw;
  }
}

.dokSaite{
  text-decoration-line: none;
  color: black;
}

.dokDiv{
  display: inline-block;
  padding: 8px;
  margin: 2px;
  background-color: lightgrey;
  width: fit-content;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #131721;
      color: rgb(255, 255, 255);
  }
  .navjosla, .navjoslasPogasTeksts{
      background-color: #2b2d31;
      /* color: #131721; */
  }
  .mainTitle, .mailLink{
      color: rgb(255, 255, 255);
  }
  a{
    color:rgb(255,255,255);
  }
  .sponsorLight{
    display: block;
  }
  .sponsorDark{
    display: none;
  }
}