.navjosla{
  width:100%;
  height: 220px;
  background-color: #131721;
  background-clip: content-box;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
}

.mainLogo{
  margin:25px;
  vertical-align: middle;
  display: table-cell;
}

.mainTitle{
  color: white;
  display: table-cell;
  text-align: left;
  font-size: 30px;
  vertical-align: middle;
}

.navjoslasLogoDiv{
  display:table;
  float: left;
  margin-left:10%;
}

.navjoslasPogasDiv{
  width: 100%;
  height: 50px;
  float: left;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #131721;
  display:table;
}
  
li {
  display: table-cell;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #363f52;
}

@media only screen and (max-width: 600px){
  ul{
    display: grid;
  }
  .navjoslasPogasDiv{
    height: 250px;
  }
  .mainLogo{
    margin-left: 0px;
  }
}

@media only screen and (max-width: 300px){
  .mainTitle{
    font-size: 10vw;
  }
  .mainLogo{
    margin-left: 0px;
    margin-right: 5px;
    width: 40vw;
  }
}

.saturs{
  float: left;
  max-width: 1000px;
  padding: 20px;
  padding-top:5px;
  width: 70%;
}

.sanuJosla {
  float: left;
  max-width: 500px;
  padding: 20px;
  padding-top:5px;
}

.kontaktiTitle{
  font-size: 20px;
}

@media only screen and (max-width: 600px){
  .saturs{
    width: auto;
    display: block;
  }
  .sanuJosla{
    width: auto;
    display: block;
  }
}

.lapa{
  max-width: 1500px;
  margin: auto;
}