/* Tīmekļa lapas izskats */
@font-face {
    font-family: "JekoL";
    src: url('./citi_faili/fonts/Jeko\ Light.ttf');
}
@font-face {
    font-family: "Zen";
    src: url('./citi_faili/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
:root{
    /* Abos motīvos */
    --font: 'Zen';
    --logoTekstsKrasa: white;
    --navjoslaFont: 'JekoL', Times, serif;
    --navjoslaTekstsKrasa: white;
    --navjoslaPogaHover: rgba(255, 255, 255, 0.1);

    /* Gaišais motīvs */
    --akcentsTekstsKrasa: rgb(173, 43, 20);
    --fonaKrasa: white;
    --tekstsKrasa: black;
    --navjoslaKrasa: #008866;
    --dokSaiteKrasa: #0a1f19;
    --dokSaiteTekstsKrasa: white;
    --izceltsFonaKrasa: #008866;
    --izceltsTekstaKrasa: white;
    --navjoslaIzceltsKrasa: #0a1f19;
    --akcentsTekstsKrasaIeksIzcelts: rgb(255, 147, 147);;
}
@media (prefers-color-scheme: dark){
    :root{
      /* Tumšais motīvs */
        --fonaKrasa: #0a1f19;
        --tekstsKrasa: white;
        --navjoslaKrasa: #00382a;
        --akcentsTekstsKrasa: rgb(255, 140, 119);
        --dokSaiteKrasa: #008866;
        --dokSaiteTekstsKrasa: black;
        --izceltsFonaKrasa: #00382a;
        --izceltsTekstaKrasa: white;
        --navjoslaIzceltsKrasa: #008866;
        --akcentsTekstsKrasaIeksIzcelts: rgb(255, 140, 119);
    }
}



/* Teksti */
a, .mailLink{
    color: var(--akcentsTekstsKrasa);
}
a, p, h1, h2, h3, li{
    font-family: var(--font);
}
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
small{
    font-size: 10px;
}




/* Lapas elementi */

body{
    background-color: var(--fonaKrasa);
    color: var(--tekstsKrasa);
    margin: 0;
    padding: 0;
}

/* Virsraksta josla */

#logoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:25px;
    margin-top:25px;
    text-decoration: none;
}
#navjosla{
    width:100%;
    min-height:205px;
    background-color: var(--navjoslaKrasa);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#logo{
    max-height: 150px;
}
#logoTeksts{
    color: var(--logoTekstsKrasa);
    margin: 20px;
    font-size:30px;
    vertical-align: middle;
    font-family: var(--navjoslaFont);
}
#navjoslasPogaContainer{
    flex: 2 1 auto;
    margin-right: 75px;
}
.navjoslasPoga{
    display: inline-block;
    color: var(--navjoslaTekstsKrasa);
    padding: 14px 16px;
    font-size:20px;
    text-decoration: none;
    background-color: var(--navjoslaKrasa);
    transition: ease-in-out 0.2s;
    font-family:var(--navjoslaFont);
    box-sizing: border-box;
}
.navjoslasPoga:hover{
    background-color: var(--navjoslaPogaHover);
}
.izceltaNavJoslasPoga{
    background-color: var(--navjoslaIzceltsKrasa);
}

/* Pamatlapa */

#lapa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
    margin:auto;
}
#saturs{
    flex-basis: 65%;
    flex-grow:1;
    max-width: 1000px;
    padding:20px;
    padding-top:5px;
}
#sanuJosla{
    flex-basis: 25%;
    flex-grow:1;
    max-width: 500px;
    padding:20px;
    padding-top:5px;
}
.izcelts{
    background-color: var(--izceltsFonaKrasa);
    padding: 20px;
    color: var(--izceltsTekstaKrasa);
}
.izcelts a{
    color: var(--akcentsTekstsKrasaIeksIzcelts)
}

/* Sponsori */

#sponsorBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.sponsorItem{
    max-width: 300px;
    max-height: 80px;
}

/* Dokumentu saites */

.dokSaite{
    display: inline-block;
    text-decoration-line: none;
    color: var(--dokSaiteTekstsKrasa);
    font-size: 20px;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 4px;
    margin-left: 2px;
    margin-right: 6px;
    background-color: var(--dokSaiteKrasa);
}
.dokContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




/* Pielāgošana dažādiem platumiem */

@media only screen and (max-width: 650px){
    .navjoslasPoga{
        width: 100%;
        text-align: center;
    }
    #navjoslasPogaContainer{
        margin-right: 0px;
    }
    #logoContainer{
        flex-wrap: wrap;
    }
    .dokSaite{
        width: 100%;
    }
    iframe{
      display: none;
    }
    #regLink{
      display: inline;
    }
}


/* TET tumšais/gaišais logo */
.sponsorLight{
    display: none;
}
@media (prefers-color-scheme: dark){
    .sponsorLight{
        display: block;
      }
      .sponsorDark{
        display: none;
      }
}